---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-5" title="Stack and Interests">
  <div class="flex flex-col gap-2">
    <br/>
    <br/>
    <p class="text-sm font-bold">
      Tools:
      <ul class="list-inside list-disc text-sm font-light">
        <li>Windows 11, Fedora 42</li>
        <li>OxygenOS 15</li>
        <li>VSCode 1.102.0</li>
      </ul>
    </p>
    
    <p class="text-sm font-bold">
      Languages:
      <ul class="list-inside list-disc text-sm font-light">
        <li>C/C++</li>
        <li>Python 3</li>
        <li>Rust</li>
        <li>English</li>
        <li>Hindi</li>
      </ul>
    </p>

    <p class="text-sm font-bold">
      Current topics of interest:
      <ul class="list-inside list-disc text-sm font-light">
        <li>Reverse Engineering</li>
        <li>SCA and Fault Injection</li>
        <li>RISC Processor Design w/ Verilog</li>
      </ul>
    </p>

  </div>
</Card>
